/* Laptops and Large Tablets */
@media (max-width:1200px){
    html {
        font-size:9px;
    }

    .container {
        padding:0 1em;
    }

    header nav {
        display:none;
    }

    header .mobile-menu-icon{
        display:block;
        position:absolute;
        right:.5em;
    }

    header.menu-active{
        flex-direction:column;
        padding:2em 0;
    }
    header.menu-active nav{
        display:block;
       padding: 4em 0;
       width:100%;
       background-color:var(--secondary-color);
    }
    header.menu-active nav ul{
        flex-direction:column;
        height:100%;
        gap:2em;
     
    }
}




/* Mobiles & Tables */
@media (max-width:768px){
    html {
        font-size:8px;
    }
    header{
        padding:2em 1em;
    }

    header a.logo{
        font-size:
    }

}