/* Header */

header {
    height:13em;
    width:100%;
    padding:2em 10em;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:var(--secondary-color);
    transition:all 0.3s ease-in-out;
}

header a.logo {
    font-size:3.2rem;
    color:#fff;
    font-weight:500;
}

header nav ul{
    display:flex;
    align-items:center;
    gap:2em;
}

header nav ul li a:link, 
header nav ul li a:visited {
    color:#fff;
    font-size:1.8rem;
    display:inline-block;
    padding:0.5em 1em;
    transition:all 0.3s ease-in-out;
    border: 1px solid transparent;
}

header nav ul li a:active, 
header nav ul li a:hover,
header nav ul li a.active
{
    color:rgba(255,255,255,0.7);
    border: 1px solid var(--primary-color);
}

.mobile-menu-icon{
    cursor:pointer;
    font-size:3rem;
    transition:all 0.3s ease-in-out;
    display:none;
}

.mobile-menu-icon:hover{
    transform:scale(1.2);
}
.mobile-menu-icon .line{
    width:1em;
    height:0.2em;
    background-color:#fff;
    margin:0.1em 0;
    border-radius:0.1em;
}


/* Main */

main .main-content{
    display:grid;
    grid-template-columns:repeat(12,1fr);
    margin:4em 0;
}


/* Aside */
main .main-content aside{
    grid-column:1/5;
    background-color:var(--tint-1-color);
    height: 70vh;
    border-radius:2em;
    border:1px solid white;
    position:fixed;
}

main .main-content aside .intro{
    margin:2em auto;
    padding:0 2em;
    
}

main .main-content aside .intro .profile-img{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:var(--primary-color);
    height: 20em;
    width:20em;
    border-radius:50%;
    box-shadow:1px 1px 10px rgba(0,0,0,0.2);
}


main .main-content aside .intro .profile-name {
    font-size:4rem;
    font-weight:700;
    color:var(--primary-color);
    margin:0.5em 0 0.5em 0;
    line-height:1;
    position:relative;
}

main .main-content aside .intro .profile-name:after {
    content:"";
    display:block;
    position:absolute;
    bottom:-10px;
    width:50%;
    height:0.1em;
    background-color: var(--primary-color);
}


main .main-content aside .intro .profile-designation{
    font-size:2rem;
    font-weight:900;
    color:var(--secondary-color);
    line-height:1;
    text-transform:uppercase;
}
main .main-content aside .intro .profile-desc{
    margin:0.5em 0;
    font-size:1.8rem;
    font-weight:300;
    color:var(--secondary-color);
    line-height:1.8;
    word-break: break-word;
}









/* Section */
main .main-content .section{
    grid-column:6/13;
    background-color:var(--tint-1-color);
}