/* Header */

header {
    height:10em;
    width:100%;
    padding:2em 10em;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

header a.logo {
    font-size:1.8rem;
    color:#fff;
}

header nav ul{
    display:flex;
    gap:2em;
}

header nav ul li a {
    color:#fff;
    font-size:1.8rem;
    display:block;
    padding:0.5em 1em;
}